@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-primary:var(--color-neutral-800);
    --color-secondary:var(--color-neutral-600);
    --shadow-box:0px 2px 4px rgba(0, 0, 0, 0.1);
}
.dark{
    --color-primary:var(--color-neutral-100);
    --color-secondary:var(--color-neutral-300);

}