@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-primary:var(--color-neutral-800);
    --color-secondary:var(--color-neutral-600);
    --shadow-important:rgba(234, 234, 234, 0.1) 0px 0px 0px 0px, rgba(235, 235, 235, 0.02) 0px 0px 0px 0px, rgba(235, 235, 235, 0.08) 0px 0px 0px 0px
}
.dark{
    --color-primary:var(--color-neutral-100);
    --color-secondary:var(--color-neutral-300);

}